<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
    Club de Literatura
{% endblock %}

{% block content %}
    <section>
        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center"><br><br><br><br><br><br>
                    <h1 class="text-white">Club de Literatura<span>Literatus<span> </h1><br>
                    <p class="text-white">Nos reunimos por los cuatro puntos cardinales de la Ciudad de México; con la única intención de comentar algun libro. Las tertulias literarias son coordinadas por el asesor literartio de la zona; ya que él es quien tiene cierta autoridad en la materia y conocimientos profundos de la obra en turno. Se estructura un programa a seguir para abordar adecuadamente cada sesión. Se les hace llegar a los inscritos y a su correo electronico una minuta con los puntos a tocar de cada obra literaria. Dependiendo de esta misma se diseña el contenido de cada sesión(ya que cada texto tiene sus infinitas peculariedades a resaltar), para cubrir el ánalis total en no más de tres sesiones de máxino dos horas por sesión. Se invita a los participantes a tomar notas, con el objetivo de llevarse conocimientos que despues aprovecharan para el desarrollo de sus propios proyectos.
                    </p>

                </div>


            </div>

        </div>
    </section>
{% endblock %}
