{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <section class="quienes">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5"><br><br><br>
                        <h2 class="text-white">¿Quienes somos?</h2>
                        <p class="text-white">Literatus: <small>Club de literatura</small> <a href="/cursos/">Talleres y Cursos</a></p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-12 col-md-12 col-lg-3">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4">
                        <div class="text-center">
                            <img src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ana Bertha Castro</h5>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur tempore facere dolorum, illum saepe in. Praesentium nostrum delectus, laudantium porro soluta voluptas non consectetur rem ut quibusdam autem ab nemo?
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-3">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4">
                        <div class="text-center">
                            <img src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ana Bertha Castro</h5>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur tempore facere dolorum, illum saepe in. Praesentium nostrum delectus, laudantium porro soluta voluptas non consectetur rem ut quibusdam autem ab nemo?
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-3">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4">
                        <div class="text-center">
                            <img src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ana Bertha Castro</h5>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur tempore facere dolorum, illum saepe in. Praesentium nostrum delectus, laudantium porro soluta voluptas non consectetur rem ut quibusdam autem ab nemo?
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}