{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <section class="quienes">
        <div class="container">

            <div class="row">
                <div class="col-md-12 margen-superior">
                    <div class="section-header text-center pb-5"><br><br><br>
                        <h2 class="text-white titulo-club">¿Quienes somos?</h2>
                        <p class="text-white titulo par-1"><span class="logo">Literatus</span>: <small>Club de literatura</small> <a href="/cursos/">Talleres y Cursos</a></p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center rockote">

                <div class="col-12 col-md-12 col-lg-3 rock">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4 rockito">
                        <div class="text-center">
                            <img  class="foto" src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Ana Bertha Castro</h3>
                            <h4 class="cargo-catedratico">Asesora literaria</h4>
                            <p class="parrafo-catedratico">
                                Egresada de la U.N.A.M. de la Licenciatura en Filosofía y Letras. 
                                Actualmente se desempeña cómo correctora de estilo en La Jormada. Ha participado
                                en diversos proyectos literarios de corte informativo para diferentes entidades en
                                la web. Así también se desempeñó como escritora de tiempo completo para la revista <strong>Algarabía</strong>
                                en la Ciudad de México. <br>
                                Impartirá en la modalidad de Club de Literatura, el taller:Una introspectiva a la ópera prima del autor colombiano Gabriel García Márquez, y dirigida a los conocedores de la grandiosa obra.<span class="enlaces"><a class="enlace" href="/cursos/cien-anios">Ánalisis de Cien años de soledad</a></span></p>
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-3 rock">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4 rockito">
                        <div class="text-center">
                            <img src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Ana Bertha Castro</h3>
                            <h4 class="cargo-catedratico">Asesora literaria</h4>
                            <p class="parrafo-catedratico">
                                Egresada de la U.N.A.M. de la Licenciatura en Filosofía y Letras. 
                                Actualmente se desempeña cómo correctora de estilo en La Jormada. Ha participado
                                en diversos proyectos literarios de corte informativo para diferentes entidades en
                                la web. Así también se desempeñó como escritora de tiempo completo para la revista <strong>Algarabía</strong>
                                en la Ciudad de México. <br>
                                Impartirá en la modalidad de Club de Literatura, el taller:Una introspectiva a la ópera prima del autor colombiano Gabriel García Márquez, y dirigida a los conocedores de la grandiosa obra.<span class="enlaces"><a class="enlace" href="/cursos/cien-anios">Ánalisis de Cien años de soledad</a></span></p> 
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-3 rock">
                    <div class="card bg-light shadow-sm border-0 px-2 py-3 mb-4 rockito">
                        <div class="text-center">
                            <img src="static/css/images/maria-5.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Ana Bertha Castro</h3>
                            <h4 class="cargo-catedratico">Asesora literaria</h4>
                            <p class="parrafo-catedratico">
                                Egresada de la U.N.A.M. de la Licenciatura en Filosofía y Letras. 
                                Actualmente se desempeña cómo correctora de estilo en La Jormada. Ha participado
                                en diversos proyectos literarios de corte informativo para diferentes entidades en
                                la web. Así también se desempeñó como escritora de tiempo completo para la revista <strong>Algarabía</strong>
                                en la Ciudad de México. <br>
                                Impartirá en la modalidad de Club de Literatura, el taller:Una introspectiva a la ópera prima del autor colombiano Gabriel García Márquez, y dirigida a los conocedores de la grandiosa obra.<span class="enlaces"><a class="enlace" href="/cursos/cien-anios">Ánalisis de Cien años de soledad</a></span></p>
                            </p>
                            <a href="#" class="btn btn-secondary">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}